@font-face {
    font-family: "Pathway Extreme";
    src: url(/FONTS/PathwayExtreme-VariableFont_opsz\,wdth\,wght.ttf)
}


*{
    margin: 0;
    padding: 0;
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}
/* FIN botÓn de whatsapp */

header{
    font-family: "Pathway Extreme", sans-serif;
    display: flex;
    min-height: 70px;
    background-color: #7F669D;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo:hover{
    color: black;
}

.logo-img{
    height: 70px;
    margin-right: 10px;
}

.logo-img:hover{
    rotate: 360deg;
    transition: 1s;
}

a{
    text-decoration: none;
    color: #FFF;
}

nav{
    padding-left: 10px;
}

nav a{
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: black;
}

.cart-icon{
    display: flex;
    margin-left: 95%;
    max-height: 30px;
}


body{
    background-color: #b19dca;
    font-family:"Pathway Extreme", sans-serif;
    

}


.item img{
    max-width: 60%;
    max-height: 60%;
    margin-left: 20%;
} 

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.h-1{
    padding: 30px;
}

.item{
    background-color: transparent;
    border: #7F669D;
    border-style: groove;
    border-radius: 5px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(black, black, black, 0.25);
}

.info-item{
    padding: 15px 30px;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
    transition: all 0.5s;
}

.item:hover img{
    transform: scale(1.2);
}

.item figure{
    overflow: hidden;
    background-color: #FFF;
}

.info-item{
    font-family: "Pathway Extreme";
    font-size: 1.5vh;
    background-color: #7F669D;
    padding: 10px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
}

.precio{
    font-size: 20px;
    font-weight: 900;
}

.info-item button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.dolarhoy{
    background-color: black;
    color: #7F669D;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    .container-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    body::after{
        height: 195%;
    }
    .cart-icon{
        padding-left: 35px;
        align-self: flex-end;
    }
}
 
footer div {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    padding: 20px;
    width: 100%;
    height: 40px;
    
}
