*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
   font-family: "Pathway Extreme",sans-serif;
      
}

@font-face {
    font-family: "Vina Sans";
    src: url(/FONTS/Vina_Sans/VinaSans-Regular.ttf);
}
@font-face {
    font-family: "Pathway Extreme";
    src: url(/FONTS/Pathway_Extreme/PathwayExtreme-Italic-VariableFont_opsz\,wdth\,wght.ttf);
}


.loguito:hover{
    transform: rotate(360deg);
    transition: 1s;
}
.loguito{
    border-radius: 130px;
    margin: 5px;
}

.logo-container{
    display: grid;
    margin: auto;
    justify-content: center;
    border: 2px double rgb(237, 71, 243);
    grid-template-rows: 260px;
    background-color: #7F669D;
}


.historia-container{
    display: grid;
    border: 2px double rgb(237, 71, 243);
    background-color: #996ad3;
    /* grid-template-columns: 1fr 3fr; */
    grid-template-rows: 300px;
    
}
.historia-container > p{
    text-align: justify;
    margin: 5px;
}
.animada{
    width: auto;
    height: 250px;
    margin: 2px;
    border-radius: 10px;

}

.contenedor-VMV{
    display: grid;
    height: auto;
    background-color: #7F669D;
    
    grid-template-columns:1fr 1fr 1.5fr;
    grid-template-rows: 550px;
    justify-content: center;
    width: auto;

}

.vision-container,.mision-container, .valores-container{
   
    background-color: #DEBACE;
    border: 2px double rgb(237, 71, 243);
    padding: 3px;  
    margin: 8px;
    border-radius: 10px;
}
.img-VMV{
    display: grid;
    justify-content: center;    
    height: 200px;
    width: auto;
    border-radius: 50px;
    margin: 7px;
}

.parraf{
    margin: 3px;
    text-align: justify;
    font-size: large;
    font-style: normal;
    font-family: 'Pathway Extreme', sans-serif;
    /* font-family: 'Vina Sans'; */

}