*{
    padding: 0;
    margin: 0;
   font-family: "Pathway Extreme",sans-serif;
   background-image: url(/IMG/logo.png);
   
}

@font-face {
    font-family: "Vina Sans";
    src: url(/FONTS/Vina_Sans/VinaSans-Regular.ttf);
}
@font-face {
    font-family: "Pathway Extreme";
    src: url(/FONTS/Pathway_Extreme/PathwayExtreme-Italic-VariableFont_opsz\,wdth\,wght.ttf);
}


.loguito:hover{
    
   -webkit-transform: rotateX(360deg);
        transition: 2s;
}
.logo-container{
    display: grid;
    
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 250px;
    background-color: #7F669D;

}
.loguito{
    border-radius: 120px;
}


.contenedor-VMV{
    height: auto;
    background-color: #7F669D;

    display: grid;
    grid-template-columns:1fr 1fr 1.5fr;
    grid-template-rows: 500px;
    justify-content: center;
    /* width: 500px; */

}

.vision-container,.mision-container, .valores-container{
    
    background-color: #DEBACE;
    border: black solid 1px  ;
    padding: 3px;  
    margin: 10px;
    border-radius: 10px;
}
.img-VMV{
    display: grid;
    justify-content: center;
    height: 200px;
    width: auto;
    border-radius: 50px;
    margin: 5px;
}

.parraf{
    margin: 3px;
    text-align: justify;
    font-size: large;
    font-style: normal;
    font-family: 'Pathway Extreme', sans-serif;
    /* font-family: 'Vina Sans'; */

}