*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #7F669D;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo:hover{
    color: black;
}

.logo-img{
    height: 70px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #FFF;
}

nav a{
    font-weight: 600;
    padding-right: 5px;
}

nav a:hover{
    color: black;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}

body{
    background-color: blueviolet;
    background-image: url(/img/logo.png);
    background-size: 30%;
    background-repeat: repeat-x;
    background-position-x: center;
}

body::after{   
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255,0.5);
    z-index: -1;
}

fieldset{
    padding: 10px;
}

form{
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
    background-color: black;
    opacity: 90%;
    color: #7F669D;
    font-size: large;
}

input{
    border: 0;
    outline: none;
    background-color: black;
    color: #FFF;
} 

.field{
    border: solid 1px #999;
    padding: 2px;  
}

.field:focus{
    border-color: #A080C6;
}

.midiv{
    padding: 5px;
    margin-left: 30%;
}

.btn1{
    position: relative;
    border: none;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #7F669D, #A080C6);
    cursor: pointer;
    overflow: hidden;
}

.btn1:hover{
    color: white;
}

.btn1 span {
    position: absolute;
    background-color: #fff;
    transition: 0.5s;
}

.btn1 span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.btn1 span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.btn1 span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.btn1 span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.btn1:hover span:nth-child(1){
    left: 0;
}
.btn1:hover span:nth-child(2){
    right: 0;
}
.btn1:hover span:nth-child(3){
    bottom: 0;
}
.btn1:hover span:nth-child(4){
    top: 0;
}


